$-f-raleway: 'Raleway', sans-serif;

$-c-pale-blue: hsl(243, 100%, 93%);
$-c-gray-blue: hsl(229, 7%, 55%);
$-c-dark-blue: hsl(228, 56%, 26%);
$-c-darker-blue: hsl(229, 57%, 11%);

$-g-from: hsl(6, 100%, 80%);
$-g-to: hsl(335, 100%, 65%);

body {
    font-family: $-f-raleway;
    font-size: 14px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}