body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 0;
  background: top/cover repeat-y url(./images/bg-mobile.png);
}

main {
  height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d2c67;
  border-radius: 10px;
  width: 250px;
  height: 80px;
  padding: 40px;
  position: relative;
}

.card p {
  color: #dddbff;
}

.menu {
  border-radius: 10px 100px 10px 10px;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu .logo {
  width: 145px;
}

.menu button {
  background-color: #0c122c;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 15px;
  vertical-align: middle;
}

.menu button:hover {
  cursor: pointer;
}

.bar-total {
  width: 100%;
  min-height: 14px;
  border-radius: 10px;
  padding: 3px;
  background-color: rgba(12, 18, 44, 0.5);
  margin-bottom: 10px;
}

.bar-total .bar-current {
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(90deg, #ffa399, #ff4d97);
  width: 81.5%;
  min-height: 10px;
  padding: 2px;
  border-radius: 7px;
  position: relative;
}

.bar-total .bar-current .dot-current {
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: #dddbff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.capacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.capacity span {
  font-size: 12px;
  font-weight: 700;
  color: #dddbff;
}

.divider {
  width: 25px;
  height: 15px;
}

.storage-stat {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  position: absolute;
  bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storage-stat .storage-left {
  font-size: 36px;
  font-weight: 700;
  color: #0c122c;
  margin-right: 10px;
}

.storage-stat p {
  margin: 0;
  color: #848794;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.storage-stat .bubble {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #dddbff;
}

.attribution a {
  color: #848794;
}

@media screen and (min-width: 900px) {
  body {
    background: bottom/contain no-repeat url(./images/bg-desktop.png), #0c122c;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu {
    width: 275px;
  }
  .info {
    width: 30%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 40px;
  }
  .storage-stat {
    -ms-flex-item-align: end;
        align-self: flex-end;
    top: -45px;
    bottom: initial;
    border-radius: 10px 10px 0 10px;
  }
  .bubble {
    display: block !important;
    position: absolute;
    bottom: -26px;
    right: -3px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
/*# sourceMappingURL=main.css.map */